body {
    font-family: 'Agency FB', sans-serif;
    background-image:url("resources/protruding-squares.svg");
    display:flex;
    justify-content:center;
    align-content:center;
}

a {
    text-decoration:none;
}

.card {
    display:flex;
    flex-direction :column;
    justify-content:center;
   
    
}

header {
    text-align:center;
    border-radius: 20% 0 20% 0;
    background-color:lightgray;
    padding : 50px 0;
    margin-top : 5%;
    max-width:50%;
    
}

button {
    all:unset;

}

.youtube {
    width:10%;

}

.github {
    width:10%;

}

.instagram {
    width:10%;

}

.linkedin {
    width:10%;
}

.photo {
    
    width : 20%;
    margin:auto;
    border-radius: 20% 0 20% 0;
}

@media screen and (max-width:480px) {
    body{
        font-size:50%;
    }
    .photo {
        width: 50%;
    }
    header{
        max-width:90%;
    }
}

@media screen and (min-width:480px) and (max-width:1024px) {
    body{
        font-size:80%;
    }
    .photo {
        width: 30%;
    }
    header{
        max-width:70%
    }
}

